.easy-container {
  width: 100%;
  height: 100vh;
  min-width: 280px;
  max-width: 768px;
  position: absolute;
  top:0;
  bottom:0;
  left:50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  overflow: hidden;
}

.container {
  background-color:#d3e1ab;
  height: 360px;
}

.header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:16px;
  z-index: 2;
  > div {
    display: flex;
    align-items: center;
  }
}

.canvas-wrap {
  position: relative;
  max-width: 360px;
  margin:0 auto;

  &::before {
    content:'';
    position: absolute;
    padding-bottom: 360px;

    width: 100%;
    left: 0;
    right: 0;
  }
}

.default-color {
  display: flex;
  align-items: center;
  justify-content: space-around;

  span {
    width: 20px;
    height: 20px;
    display: inline-flex;
    border-radius: 100%;
    border: 1px solid #ddd;

    &.random {
      background-image: conic-gradient(from 0.25turn, #f00, #ffa800 0.27turn, #09ff4e 0.51turn, #1488ff 0.77turn, #4200ff);
    }
  }
}

.form-container {
  padding:16px;
  overflow: scroll;
  position: relative;
  top: 40px;
  height: calc(100vh - 400px);
}

.valid-message {
  font-size: 12px;
  color:darkred;
  display: inline-block;
  margin-top:8px;
}

.item-wrap {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  .item-box {
    border-radius: 10px;
    border:1px solid #d9d9d9;

    img {
      width: 100%;
      height: 100%;
    }
  }
}


