.easy-container {
  width: 100%;
  height: 100vh;
  min-width: 280px;
  max-width: 768px;
  position: absolute;
  top:0;
  bottom:0;
  left:50%;
  transform: translateX(-50%);
  background-color: #f3e9e4;
}
