.easy-container {
  width: 100%;
  height: 100vh;
  min-width: 280px;
  max-width: 768px;
  position: absolute;
  top:0;
  bottom:0;
  left:50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  overflow: hidden;
}

.front-container {
  width: 100%;
  height: 100vh;
  min-width: 280px;
  max-width: 768px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4f64bc;
  //@include mobile {
  //  background-color: mediumslateblue;
  //}
  //@include tablet {
  //  background-color: aqua;
  //}
  //@include laptop {
  //  background-color: bisque;
  //}
  //@include desktop {
  //  background-color: gainsboro;
  //}
}

.width-full {
  width: 100%;
}

.height-full {
  height: 100%;
}

.text {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }

}

.flex {
  display: flex;

  &.x {
    &-start {
      justify-content: flex-start;
    }

    &-center {
      justify-content: center;
    }

    &-end {
      justify-content: flex-end;
    }

    &-between {
      justify-content: space-between;
    }
  }

  &.y {
    &-start {
      align-items: flex-start;
    }

    &-center {
      align-items: center;
    }

    &-end {
      align-items: flex-end;
    }
  }

  &-wrap {
    flex-wrap: wrap;
  }

  &-no-wrap {
    flex-wrap: nowrap;
  }
}

.word {
  &-break-all {
    word-break: break-all;
  }
}


.container {
  background-color:#d3e1ab;
  height: 360px;
}
.header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:16px;
  z-index: 2;
  > div {
    display: flex;
    align-items: center;
  }
}

.canvas-wrap {
  position: relative;
  max-width: 360px;
  margin:0 auto;

  &::before {
    content:'';
    position: absolute;
    padding-bottom: 360px;

    width: 100%;
    left: 0;
    right: 0;
  }
}

.default-color {
  display: flex;
  align-items: center;
  justify-content: space-around;

  span {
    width: 20px;
    height: 20px;
    display: inline-flex;
    border-radius: 100%;
    border: 1px solid #ddd;

    &.random {
      background-image: conic-gradient(from 0.25turn, #f00, #ffa800 0.27turn, #09ff4e 0.51turn, #1488ff 0.77turn, #4200ff);
    }
  }
}

.form-container {
  padding:16px;
}

.valid-message {
  font-size: 12px;
  color:darkred;
  display: inline-block;
  margin-top:8px;
}
