
// 프론트
.front-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: cornsilk;
  min-width: 280px;
  max-width: 768px;
  position: absolute;
  top:0;
  bottom:0;
  left:50%;
  transform: translateX(-50%);
}



