$mobile: 280px;
$tablet: 768px;
$laptop: 996px;
$desktop: 1400px;


@mixin mobile {
  @media (min-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
