.front-container {
  width: 100%;
  height: 100vh;
  background-color: #4f64bc;
  @include mobile {
    background-color: mediumslateblue;
  }
  @include tablet {
    background-color: aqua;
  }
  @include laptop {
    background-color: bisque;
  }
  @include desktop {
    background-color: greenyellow;
  }
}



